 *{
    font-family: "Zalando Sans SemiExpanded", sans-serif;;
 }
 body{
            background-image:url(/Gym_page/assets/Images/w03193-small.jpg);
            background-size: cover;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
           margin: 0;
           padding: 0;
        }
        #opacity{
            width: 100Vw;
            height: 100vh;
            background-color: rgba(33, 31, 31, 0.5);
            position: absolute;
            
        }
        header{
            position: absolute;
            margin: 0;
            width: 100%;
            min-height: 40px;
            height: 60px;
            background-color: rgba(217, 217, 217,0.7);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0px 10px;
            box-sizing: border-box;
        }
        nav{
            height: 100%;
            position: relative;
            top: 15%;
            
        }
      #signup{
            width: 8%;
            min-width: 100px;
            height: 70%;
            color: white;
            background-color: #FFB22C;
            outline: none;
            border: none;
            border-radius: 10px;
            font-size: larger;
            font-weight: 700;
            
        }
       #signup:hover{
            background-color: white;
            color: #FFB22C;
            transition: 0.3s;
        }
         #signup:active{
            background-color: #FFB22C;
            color: white;
            transition: 0.2s;
        }
        .navigation{
            text-decoration: none;
            color: white;
            margin-right: 30px;
            font-size: 1.3rem;
            font-weight: 700;
            
        }
        .navigation:hover{
            color: #FFB22C;
            transition: 0.3s;
        }
        .navigation:active{
            color: white;
            transition: 0.1s;
        }
        #logo{
            font-size: 2.5rem;
            letter-spacing: 5px;
            color:white;
            font-weight: 900;
        }
        